<div class="slide slide-<%= static_banner_counter %> <%= 'hidden' unless static_banner_counter.zero? %>">
  <%= image_tag static_banner.image_url, title: static_banner.title, alt: static_banner.alt %>
</div>
