<%= content_for :head do %>
<!-- Facebook Conversion Code for Booking Online --><script>(function() {  var _fbq = window._fbq || (window._fbq = []);  if (!_fbq.loaded) {    var fbds = document.createElement('script');    fbds.async = true;    fbds.src = '//connect.facebook.net/en_US/fbds.js';    var s = document.getElementsByTagName('script')[0];    s.parentNode.insertBefore(fbds, s);    _fbq.loaded = true;  }})();window._fbq = window._fbq || [];window._fbq.push(['track', '6024267024631', {'value':'0.00','currency':'GBP'}]);</script><noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6024267024631&amp;cd[value]=0.00&amp;cd[currency]=GBP&amp;noscript=1" /></noscript>
<% end %>

<div class="page">
  <div class="page-wide">
    <div class="middle-inner">
      <h1>Thank You</h1>
      
      <p>Thank you for booking your treatment with Physio Med.</p>

      <p>We will get back to you to either confirm your booking or provide an alternative time or date.</p>
    </div>
  </div>
  
  <div class="clear"></div>
</div>