<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body class="internal">
    <%= render 'layouts/header' %>
  
    <%= yield %>
    
    
    
    <%= render 'layouts/footer' %>
  </body>
</html>
